{% extends 'default/_dashboard.html.twig' %}

{% block title %}{{ 'site_title.about'|trans }}{% endblock %}
{% block section_title %}
    <h1 class="text-left">{{ 'site_title.about'|trans }}</h1>
{% endblock %}
{% block main %}
    <h4>Autorem niniejszego serwisu jest Radosław Chybowski.</h4>
    <h4>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem dr hab. Janusza Jurka prof. UJ na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</h4>
{% endblock %}